USE [master]
GO
/****** Object:  Database [TTMSB2]    Script Date: 12/1/2022 10:19:38 AM ******/
CREATE DATABASE [TTMSB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTMSB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TTMSB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TTMSB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TTMSB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTMSB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTMSB2]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 12/1/2022 10:19:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[SpotName] [nvarchar](50) NOT NULL,
	[Fee] [money] NOT NULL,
	[Available] [bit] NOT NULL,
	[TypeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 12/1/2022 10:19:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Picture] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntrySpots]    Script Date: 12/1/2022 10:19:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntrySpots](
	[EntrySpotId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EntrySpotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourType]    Script Date: 12/1/2022 10:19:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingId], [SpotName], [Fee], [Available], [TypeId]) VALUES (1, N'Cox''s Bazar', 5000.0000, 1, 1)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientId], [ClientName], [Age], [BirthDate], [Picture]) VALUES (1, N'Rakim', 26, CAST(N'2022-12-06' AS Date), N'e77763f9-b9ec-4ad1-8606-f61169644d6c.png')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[EntrySpots] ON 

INSERT [dbo].[EntrySpots] ([EntrySpotId], [ClientId], [BookingId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[EntrySpots] OFF
GO
SET IDENTITY_INSERT [dbo].[TourType] ON 

INSERT [dbo].[TourType] ([TypeId], [TypeName]) VALUES (1, N'Golden Type')
SET IDENTITY_INSERT [dbo].[TourType] OFF
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[TourType] ([TypeId])
GO
ALTER TABLE [dbo].[EntrySpots]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [dbo].[EntrySpots]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
USE [master]
GO
